archive
node_modules
.DS_Store
*.idea
*.editorconfig
*.xml
*config.js
*.md
/public/client/src/components/Search.jsx
/public/client/src/design/
/public/client/dist/
/npm-debug.log
/AWS-Jonathan.pem
/environment-variables.js
/server.csr
/myserver.key
/domain.crt


