<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<section class="personal-trainer hide-for-tiny">

  <dv class="container">
    <div class="row">
      <div class="col-lg-1 center-column center-block">
        <img src="../design/training-panel.jpg" alt="">
      </div>
    </div>
  </dv>

</section>

</body>
</html>
